/*
css guide{
  //dimensions
  //display
  //position
  //decoration
  //text
}
*/

body{
  margin: 0;
  padding: 0;

  background-color: rgb(18, 58, 131);
  box-sizing: border-box;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
}

.container{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-container{
  width: 400px;
  height: 300px;

  padding: 10px;
  margin-block-end: 50px;

  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: 3fr 1fr;

  background-color: rgb(48, 118, 248);
  border-radius: 20px;
}

.timer-container *{
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: rgb(22, 73, 168);
  border-radius: 20px;
}

.timer{
  grid-column: 1/span 3;
  grid-row: 1;

  font-size: 75px;
}

.button{
  font-size: 30px;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(29, 84, 187);
}

#start-button{
  grid-column: 1;
  grid-row: 2;

  background-color: rgb(13, 214, 137);
}

#start-button:hover{
  background-color: rgb(31, 247, 164);
}

#stop-button{
  grid-column: 2;
  grid-row: 2;
  
  background-color: rgb(214, 60, 13);
}

#stop-button:hover{
  background-color: rgb(238, 91, 46);
}

#reset-button{
  grid-column: 3;
  grid-row: 2;

  font-size: 20px;
}

.interactive-section{
  gap: 10px;
}

.interactive-section *{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interactive-section .question{
  padding: 20px;

  background-color: rgb(22, 73, 168);
  border-radius: 20px;
}

.interactive-section .answer input{
  padding: 5px 10px 5px 10px;
  width: 300px;
  height: 35px;

  background-color: whitesmoke;
  border-radius: 10px;

  text-align: center;
  font-size: 20px;
}

.inactive{
  display: none;
}

.active{
  display: grid;
}